[submodule "Vim/Interpreter/usr/local/share/vim/doc"]
	path = Vim/Interpreter/usr/local/share/vim/doc
	url = https://github.com/tinmarino/Vimdoc
[submodule "Vim/Interpreter/usr/local/share/vim/cheatsheet"]
	path = Vim/Interpreter/usr/local/share/vim/cheatsheet
	url = https://github.com/tinmarino/Vimcheat
